.red{border:1px solid red}
body{overflow:hidden}

.Wdate{
    border:#999 1px solid;
    height:20px;
    background:#fff url(datePicker.gif) no-repeat right;

}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
    font-weight:bold;
    color:red;
}

/* 顶部定位栏 */
.location-bar{height:28px;position:relative;background-color:#f9f9f9;padding:10px 20px}
.btn-previous{display:inline-block;width:28px;height:28px;border:1px solid #dcdcdc;position:absolute;left:20px;top:10px;background-position:-69px -649px}
.btn-previous:hover{border:1px solid #69c1ff;background-position:-91px -649px}
.address-tree{margin-left:40px;margin-right:240px;border:1px solid #dcdcdc;height:28px;line-height:28px;background-color:#fff;padding-right:10px}
.address-tree-nav span{margin-right:10px;display:inline-block;position:relative;padding-left:10px;color:#888;cursor:pointer;max-width:100px;overflow:hidden;line-height:28px;height:28px}
.address-tree-nav span:hover{color:#333}
.address-tree-nav span:first-of-type{padding-left:0px}
.address-tree-nav span:first-of-type:after{
    content:'';border:none
}
.address-tree-cpk-icon{display:inline-block;width:30px;height:28px;vertical-align:top;background-position:-91px -679px}
.address-tree-nav span:after{content:'';border-width:5px;border-style:solid;border-color:transparent transparent transparent #aaa;
    position:absolute;left:0;top:8px;z-index:99
}
.address-tree-nav span:hover:after{border-left-color:#333}
/* 搜索 */
.location-bar-search{width:228px;border:1px solid #dcdcdc;position:absolute;right:20px;top:10px;height:28px}
.package-bar-search input,.location-bar-search input{border:none}
/*修改marginTop从-39px为-30px*/
.btn-refresh{display:inline-block;width:20px;height:28px;background-position:-261px -500px;cursor:pointer;position:absolute;left:-35px;top:-2px}
.btn-refresh:hover{background-position:-261px -523px}
.c-search{border:none;height:28px;line-height:28px;padding:0 10px;color:#888;width:150px;vertical-align:top}
.c-search-btn,.c-search-btn-senior{border:none;height:28px;margin-left:-4px;cursor:pointer}
.c-search-btn{background-position:-254px -555px;width:40px
;border-style:solid;border-color:#dcdcdc;border-width:0 1px}
.c-search-btn:hover{background-position:-254px -469px}
.c-search-btn-senior{width:28px;position:relative;}
.c-search-btn-senior:after{border-style:solid;border-width:5px;border-color:#ccc transparent transparent transparent;position:absolute;content:'';top:12px;left:8px}
.c-search-btn-senior:hover:after{border-style:solid;border-width:5px;border-color:#69c1ff transparent transparent transparent;position:absolute;content:'';top:12px;left:8px}
.package-bar-search{width:200px;border:1px solid #dcdcdc;height:28px}
.package-bar-search .c-search{width:150px}
.package-bar-search .c-search-btn{border:none}
/* 高级搜索 */
.sreach-column{
    z-index:999;
    position:absolute;
    right:-1px;
    top:29px;
    background-color:#fff;
    padding: 5px 10px 15px 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-top:none ;
    width: 230px;
    display:none;
}
.authorized-time a {
    display: inline-block;
    width: 22px;
    text-align:center;
}
.block-lab{
    display: block;
    line-height:24px;
}
.sreach-menu input{
    border:1px solid #ccc;
    width:205px !important;
    box-sizing:border-box;
}
.m_top{
    margin-top: 10px;
}
.sreach-prompt{
    width: 30px;
    display: inline-block;
    vertical-align: top;
    line-height: 26px;
}
/* 高级搜索 End*/


.ztree-box{
    width:160px;height:495px;float:left;overflow:hidden;background-color:#f4f4f4;margin-right:-100%;}
.ztree-box ul{width:145px;font-size:12px}
.ztree-box a{width:100px;display:inline-block;overflow:hidden;}

.cpk-box-wrap{width:100%}
.cpk-box{
    margin-left:160px;
    min-width: 800px;
    background-color:white;
    min-height:400px;
    position:relative;
}
/*表格导航栏*/
.cpk-box-top{
    position:relative;
    height: 44px;
    padding: 1px;
    border: 1px solid #eaeaea;
}
.cpk-dh{
    background-color:#f4f4f4 ;
    height: 44px;
}
.cpk-nav-left{
    float: left;
    margin-left: 10px;
    height: 44px;
}
.cpk-nav{
    height:28px;
    float: left;
    position: relative;
    top:6px;
}
.cpk-nav a i{
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    right: 7px;
}
.cpk-nav a.cur{border:1px solid #69c1ff;color: #69c1ff}
.cpk-nav a.cur_next{
    border-left:none;
}
.cpk-nav-left a{
    float:left;
    display:inline-block;
    height: 28px;
    color:#333;
    text-align:center;
    line-height: 28px;
    border-style:solid ;
    border-width:1px 0px 1px 1px ;
    border-color:#e0e0e0;
    padding:1px 10px;

}
.cpk-nav-left a:last-child{
    border-right: 1px solid #e0e0e0;

}
.cpk-nav-left .cur:last-child{
    border-right: 1px solid #69c1ff;
}
.cpk-nav-left a:hover{
    text-decoration: none;
}

.cpk-nav-add i{

    background-position: -51px -264px;
}

.cpk-nav-add.cur i{
    background-position: -88px -264px;

}
.cpk-nav-move i{

    background-position: -51px -299px;

}
.cpk-nav-move.cur  i{
    background-position: -88px -299px;
}
.cpk-nav-delete i{

    background-position:-51px -336px;

}
.cpk-nav-delete.cur  i{
    background-position: -88px -336px;
}
.cpk-nav-push i{

    background-position: -51px -371px;

}
.cpk-nav-push.cur  i{
    background-position: -89px -371px;
}
.cpk-nav-audit i{

    background-position: -51px -407px;

}
.cpk-nav-audit.cur  i{
    background-position:  -88px -407px;
}

.cpk-recycle-clear i{

    background-position: -51px -438px;

}
.cpk-recycle-clear.cur  i{
    background-position:  -87px -438px;
}
.cpk-recycle-reduction i{

    background-position: -51px -466px;

}
.cpk-recycle-reduction.cur  i{
    background-position:  -87px -466px;
}
.cpk-recycle-delete i{

    background-position: -51px -336px;

}
.cpk-recycle-delete.cur  i{
    background-position:  -88px -336px;
}



.sck-sentTo-cpk i{

    background-position: -416px -548px;

}
.sck-sentTo-cpk.cur  i{
    background-position: -439px -548px;
}
.sck-sentTo-zzk i{
    background-position: -416px -594px;
}
.sck-sentTo-zzk.cur  i{
    background-position: -439px -594px;
}
.sck-sentTo-package i{
    background-position: -416px -570px;
}
.sck-sentTo-package.cur  i{
   background-position: -439px -570px;
}

.cpk-nav-right{
    float: right;
    height: 16px;
    width: 48px;
    position: relative;
    top:13px;
    right: 15px;

}
.cpk-versticel{
    display: inline-block;
    float: left;
    height: 16px;
    width: 18px;
    background-position: 0 -443px;
}
.cpk-rank{
    display: inline-block;
    float: right;
    height: 16px;
    width: 18px;
    background-position:0 -478px;
}

/* 导航添加下面的类型 */
.con_add_nav{position:absolute;z-index:66;top:46px;left:0;display:none}
.con_add_nav li{float:left;padding:0 2px 0 38px;height:77px;width:118px;border:1px solid #ddd;border-left:none;background-color:#fff;} 
.con_add_nav li a{line-height:35px;font-size:14px;padding-top:20px;display:inline-block;}
.con_add_nav li a.now{color:#69c2ff}
.con_add_nav li i{width:55px;height:35px;display:inline-block;vertical-align:top}
.con_add_video i{background-position: -484px -26px}
.con_add_pic i{background-position: -484px -97px}
.con_add_audio i{background-position: -484px -167px}
.con_add_article i{background-position: -484px -239px}
.con_add_package i{background-position: -484px -310px}

.con_add_video a.now i{background-position: -218px -26px}
.con_add_pic a.now i{background-position: -218px -167px}
.con_add_audio a.now i{background-position: -218px -97px}
.con_add_article a.now i{background-position: -218px -239px}
.con_add_package a.now i{background-position: -218px -310px}

/*表格内容*/
.cpk-box-main{
    margin: 0 auto;
    border-style:solid;
    border-width:0 1px;
    border-color: #eaeaea;
    position:relative;
    overflow:hidden;
    display:none
}
table.grid{
    width: 100%;table-layout: fixed;
}
table.grid tr{
    height: 38px;
    line-height: 38px;
    border-bottom:1px solid #eaeaea;
    white-space:nowrap; 
    overflow:hidden
}
table.grid tr{height: 35px;line-height: 35px;}
table.grid tr th{
    position:relative;
    text-align: left;
}
.cpk-Check input{vertical-align:middle;}
.cpk-kong{
    width: 5%;
}
.cpk-kind{
    width: 10%;
}
.preview_package_table .cpk-kind{width:15%}
.preview_package_table .cpk-nx-zt{margin-left:-5px}
.cpk-status{
    width: 10%;
}
.cpk-time{
    width:18%;
}
.cpk-personnel{
    width: 10%;
}
/*内容、类型、时间选项列表*/
.cpk-kind-choose{
    position: absolute;
    z-index:2;
    border: 1px solid #ddd;
    top: 9px;
    left: -43px;
    background-color: #ffffff;
    display: none;
}
.cpk-kind-choose ul li{
    padding: 2px;
    color: #999999;
}
.cpk-kind-choose ul li a{
    display: inline-block;
    width: 53px;
    color: #999;
    padding-left:6px ;
}
.cpk-kind-choose ul li a:hover{
    text-decoration: none;
    color:#69c1ff;
    background-color: #f5f5f5;
}

.cpk-show .cpk-kind-choose{
    display: block;
}
.cpk-hide{
    display: none;
}
/*内容、类型、时间选项列表结束*/
.cpk-nx-zt{
    width: 38px;
    height: 26px;
    margin-left: 0px;
    position: absolute;
    top:6px;

}
.cpk-nx-zt span{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-width: 5px;
    border-style:solid ;
    border-color:#cccccc transparent transparent transparent;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}
.cpk-nx-zt span:hover{
    border-color:#69c1ff transparent transparent transparent;
}
.cpk-nx-zt .cpk-nx-zt-right{
    border-color:#69c1ff transparent transparent transparent;
}
.cpk-time-arrow{
    display:inline-block;   
    position:absolute;
    /*修改top从2px为12px*/
    top:12px;
    margin-left:10px;
    cursor:pointer
}
.cpk-time-asc{
    display:inline-block;
    width: 8px;
    height: 12px;
     background-position: 0px -514px;
}
.cpk-time-asc:hover{
    background-position: -33px -514px;
}
.cpk-time-desc{
    background-position: 0px -537px;
}
.cpk-time-desc:hover{
    background-position: -33px -537px;
}
.cpk-time-arrow-c{
    background-position: -33px -514px;
}
.cpk-time-arrow-d{
    background-position: -33px -537px;
}
.cpk-switch-na{
    background-color: #fff;
}
.cpk-name-Check{
    width: 11px;
    height: 11px;
    margin: 0 auto;
    background-position: -78px -478px;
    cursor:pointer;
}
.cpk-file-name img{
    float:left;
    width:40px;
    height:30px;
    margin-top:2px;
}


.cpk-name-name{
    float: left;
    color: #666;
    margin-left:8px;
    max-width:210px;
    min-width:100px;
    line-height:15px;height:15px;padding:9px 10px
    ;overflow:hidden;word-wrap:normal;
}
.cpk-name-name:focus{border:1px solid #ddd;outline:none;background-color:#fff}
.cpk-name-conter{
    float: right;
    margin-right: 10px;
    /* margin-top:5px; */
}
.cpk-name-conter a{
    text-align:center;
    padding:5px;
    /* margin-right:2px; */
    height:24px;
    background-color: #eaeaea;
    line-height:24px;
    color:#999;
}
.cpk-name-conter a:hover{
   color: #69c1ff;
   text-decoration: none;
}


/*表格页数*/
.cpk-qx{
    float: left;
    height:28px;
    width: 70px;
    padding-left:10px ;
    line-height: 28px;
    text-align: right;
    color: #666;
    position:absolute;
    top:50%;
    margin-top:-14px;

}
.checkAll{
    vertical-align:top;
}
.cpk-qx span{vertical-align:top}
.cpk-number a{
    display: inline-block;
    float: right;
    width: 29px;
    height: 29px;
    border: 1px solid #ddd;
    line-height: 29px;
    text-align: center;
}
.cpk-number a:hover{
    text-decoration: none;
}

/* 
*表格hover,单击效果
*/
.gridFooter{position:relative;max-height:64px}
.grid tbody tr:hover{background-color:#ddd}
.tr_cur_click{background-color:#f5f5f5}
.pager{position:absolute;top:50%;right:30px;margin-top:-14px;}
.cpk-Check{text-align:center}
.thead_choice .checked a{background:#f5f5f5;color:#69c1ff}

/* 添加栏目 */
.column-wrapp{
    min-width:800px;
}
.column-top{
    padding: 20px 20px  20px 20px;
}

.column-top-img-show{
    float: left;
    padding: 22px 8px;
    background-color: #f5f5f5;
}
.column-top-img-show img{
    width: 104px;
    height: 79px;
}
.title-define{
    margin-left:200px ;
    margin-top: 30px;

}
.title-define li{
    margin-top: 12px;
}
.title-define input{
    width: 188px;
}
.collection{
    display: inline-block;
    vertical-align:top;
    width: 20px;
    height: 28px;
    margin-left:5px;
    cursor: pointer;
    background-position: -53px  -119px;
}
.rot-collection{
    background-position: -53px  -188px;
}
.collection:hover{
    background-position: -53px  -153px;
}
.rot-collection:hover{
    background-position: -53px  -224px;
}
.thumbnail{
    display: none;
}
.column-center{
    padding: 20px 20px 20px 20px;
}
.column-center ul{
    display: block;
    padding: 26px 40px;
    background-color: #f5f5f5;
}
.column-center ul li{
    height: 30px;
    color: #888888;
    white-space:nowrap;
    overflow: hidden;

}
.column-center-title{width:60px;text-align:right;overflow:hidden;display:inline-block;vertical-align:top;margin-right:5px}
.column-center ul li span{
    display: inline-block;
    color: #888888;

}
.column-footer{
    padding: 20px 20px 20px 20px ;
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
}
.column-footer-type{
    padding: 5px 20px;
    float: left;
}
.column-footer-type ul{
    float: left;
    margin-left: 10px;
}
.column-footer ul li{
    float: left;
    margin-left: 10px;


}
.column-footer ul li i{
    display: block;
    width: 64px;
    height: 60px;
    cursor: pointer;
}
.type-video.root-modify{
    background-position:-210px  -10px ;
}
.type-video.modify{
    background-position:-476px  -10px ;
}
.type-video.root{
    background-position:-299px  -10px ;
}
.type-video{
    background-position:-387px  -10px ;
}
.type-img.root-modify{
    background-position:-212px  -81px ;
}
.type-img.modify{
    background-position:-478px  -151px ;
    
}
.type-img.root{
    background-position:-301px  -81px ;
}
.type-img{
    background-position:-389px  -81px ;
}
.type-audio.root-modify{
    background-position:-212px  -151px ;
}
.type-audio.modify{
    background-position:-478px  -81px ;
}
.type-audio.root{
    background-position:-301px  -151px ;
}
.type-audio{
    background-position:-389px  -151px ;
}
.type-manuscripts.root-modify{
    background-position:-212px  -223px ;
}
.type-manuscripts.modify{
    background-position:-478px  -223px ;
}
.type-manuscripts.root{
    background-position:-301px  -223px ;
}
.type-manuscripts{
    background-position:-389px  -223px ;
}
.type-package.root-modify{
    background-position:-212px  -294px ;
}
.type-package.modify{
    background-position:-478px  -294px ;
}
.type-package.root{
    background-position:-301px  -294px;
}
.type-package{
    background-position:-389px  -294px;
}

.cpk_add_column-btn button{padding:5px 15px;color:#fff;cursor:pointer;float:right;margin-right:10px;margin-top:10px}

/* 成品库右侧预览 */
.preview_manuscripts{position:absolute;right:-720px;top:96px;width:720px;display:none;z-index: 99;}
.manuscripts_r{width:320px;height:100%;position:absolute;top:0;right:0;z-index:66;border-style:solid;border-color:#ddd;border-width:0 0 1px 1px;background-color:#f8f8f8}
.manuscripts_l{margin-right:320px;overflow:auto;padding:10px 20px;line-height:26px;background-color:#fff;height:100%}
.preview_aside{position:absolute;width:320px;height:100%;background-color: #f9f8f8;right:-320px;top:96px;display:none;z-index:999}
.sliderLayer_r_fullScreen{position:absolute;z-index:999;background-color:#fff}
.preview_package_c{height:100%}
.preview_aside_close{
    padding: 16px 20px 16px 0;
}
.preview_aside_close i{
    display: inline-block;
    width: 14px;
    height: 14px;
    float: right;
    background-position: -264px -369px;
    cursor: pointer;
}
.trailer{
margin: 10px auto;
    width: 280px;
    overflow: hidden;

}
.trailer img{
    width: 280px;
    height: 210px;
}
.file-details{
    padding: 0 20px ;


}
.file-details ul{
    list-style: none;

}
.file-details li{
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    padding: 3px 0;

}
.details-name{
    border-bottom: 1px solid #e7e7e7;

}
.details-type{
    border-bottom: 1px solid #e7e7e7;
}
.details-size{
    border-bottom: 1px solid #e7e7e7;
}
.access-time{
    border-bottom: 1px solid #e7e7e7;
}
.file-details li a{
    color: #666;
    text-align: right;
    display: inline-block;
    width:51px;
}
.file-details li ins {
    color: #333;
    text-decoration: none;
}
.img-information{
    margin: 10px auto;
    width: 240px;
    overflow: hidden;
}
.img-information img{
    width: 240px;
    height: 180px;
}
.text-information{
    padding: 10px 20px;
    overflow: hidden;
    line-height: 30px;
    color: #333;
}
.text-information span{color:#000}
.preview_package{position:absolute;right:-720px;top:0px;width:720px;display:none;z-index: 99;}
.preview_package_r{width:320px;height:100%;position:absolute;top:0;right:0;z-index:66;border-style:solid;border-color:#ddd;border-width:0 0 1px 1px;background-color:#f8f8f8}
.preview_package_l{margin-right:320px;padding:10px 20px;line-height:26px;background-color:#fff;box-sizing:border-box;overflow:auto;height:100%;}
.sliderLayer_fullScreen_c{border-bottom:1px solid #ddd}
.sliderLayer_r_fullScreen_footer{height:28px;background-color:#f3f3f3;border-left:1px solid #ddd}
.sliderLayer_r_treeNav{position:relative}
.sliderLayer_r_treeNav span{color:#333;padding:0 15px 0 10px;display:inline-block;position:relative;float:left;line-height:28px;cursor:pointer;max-width:90px;overflow:hidden;}
.sliderLayer_r_treeNav span:hover{color:#25a3eb}
.sliderLayer_r_treeNav span:after{border-style:solid;border-color:#e4e4e4 #e4e4e4 transparent transparent;border-width:2px;transform:rotate(45deg);
-ms-transform:rotate(45deg);     /* IE 9 */
-moz-transform:rotate(45deg);    /* Firefox */
-webkit-transform:rotate(45deg); content:'';display:inline-block;width:16px;height:16px;top:3px;position:absolute;right:6px}
.sliderLayer_r_treeNav span:last-child:after{
    border-color:transparent;
}
.package_return_btn{border:1px solid #eaeaea;padding:5px 8px;font-size:12px;cursor:pointer;margin-left:10px;background-color:#f8f8f8;color:#999;}
.package_return_btn:hover{color:#25a3eb}
.add_package_return_btn{position:absolute;top:13px;right:20px}
/* 包预览表格 */

/* 移动至 */
.moving_to{position:absolute;left:208px;top:131px;height:380px;width:200px;border:1px solid #e7e7e7;background-color:#fff;z-index:9999;border-radius:4px;box-shadow:0 0 10px #d6d6d6;overflow:hidden;display:none}
.moving_to_title{height:35px;line-height:35px;font-weight:bold;font-size:14px;background-color:#f9f8f8;padding-left:20px;color:#333;cursor:move;}
.moving_to_title i{display:inline-block;width:14px;height:14px;
  float:right;background-position:-264px -369px;cursor:pointer;margin-top:10px;margin-right:10px}
.moving_to_footer{height:45px;background-color:#f9f8f8;text-align:right;padding-top:15px;border-top:1px solid #e7e7e7}
.moving_to_footer button:nth-child(1){margin-right:5px}
.moving_to_footer button:nth-child(2){margin-right:15px}
.move_to_wrap{height:285px;overflow:hidden}
/* 移动至ztree */
.moving_to_ztree{padding:0;margin-bottom:1px}
.moving_to_ztree li ul{ margin:0; padding:0}
.moving_to_ztree li {line-height:30px;}
.moving_to_ztree li a {width:197px;height:30px;padding-top:0px}
.moving_to_ztree li.level0 a.level0:hover{text-decoration:none;cursor:auto}
.moving_to_ztree li.level0 li a:hover {text-decoration:none; background-color:#E7E7E7;}
.moving_to_ztree li a span.button.switch {visibility:visible}
.moving_to_ztree li a.curSelectedNode {background-color:#D4D4D4;border:0;height:30px;}
.moving_to_ztree li span {line-height:30px;}
.moving_to_ztree li span.button {margin-top: -7px;}
.moving_to_ztree li span.button.switch {width: 16px;height: 16px;}
.moving_to_ztree li span.button {background-image:url("../images/left_menuForOutLook.png");}
.moving_to_ztree li.level0>a{background:none;height:40px;line-height:40px;border-top:1px solid #e7e7e7;background-color:#f4f4f4;margin-bottom:1px;font-size:15px;font-weight:bold;font:'宋体';text-align:15px;vertical-align:middle;}
.moving_to_ztree li.level0>span{display:inline-block;line-height:40px !important;height:40px !important;border-top:1px solid #e7e7e7;background-color:#f4f4f4 !important;margin-bottom:1px;margin-top:0;  border-bottom-left-radius:0 !important;
  border-bottom-right-radius:0 !important;}
.moving_to_ztree li.level0 li{font-weight:normal;}
.moving_to_ztree li span.button.switch.level0 {background:none;}
.moving_to_ztree li span.button.switch.level1 {width: 20px; height:20px;font-weight:normal}
.moving_to_ztree li span.button.noline_open {background-position: 0 0;}
.moving_to_ztree li span.button.noline_close {background-position: -18px 0;}

/* 发送至 */
.sent_to{position:absolute;left:50%;top:120px;min-height:380px;width:325px;border:1px solid #e7e7e7;background-color:#fff;z-index:9999;border-radius:4px;box-shadow:0 0 10px #d6d6d6;display:none}
.sent_to_title{height:40px;line-height:40px;font-weight:bold;font-size:14px;background-color:#f9f8f8;padding-left:20px;color:#333;cursor:move;text-align:center}
.sent_to_title i{display:inline-block;width:14px;height:14px;
  float:right;background-position:-264px -369px;cursor:pointer;margin-top:10px;margin-right:10px}
.sent_to_footer{height:45px;background-color:#f9f8f8;text-align:right;padding-top:15px;border-top:1px solid #e7e7e7}
.sent_to_footer button:nth-child(1){margin-right:5px}
.sent_to_footer button:nth-child(2){margin-right:15px}
.sent_to_zzk_wrap{height:280px;overflow:hidden;width:325px}
.sent_to_cpk_wrap{height:200px;overflow:hidden;width:285px;margin:10px 20px 0;border:1px solid #ddd}
.sent_to_package_wrap{height:280px;overflow:hidden;width:540px}
.sent_to_platform{padding:0 20px}
.sent_to_platform h3{height:30px;line-height:30px;border-bottom:1px solid #ddd}
.sent_to_platform ul{margin:10px 0}
.sent_to_platform ul li{float:left;margin-right:10px;min-width:50px;max-width:100px;line-height:26px;height:26px}
.sent_to_package{width:540px}
.sent_to_package_wrap{width:520px;padding:10px;}
.sent_to_package_wrap>div{float:left;width:248px;overflow:hidden;height:280px;border:1px solid #ddd;}
.sent_to_package_wrap>div:first-child{margin-right:20px;}
/* 发送至素材库ztree */
#sent_to_zzk{margin-bottom:1px;max-width:302px;overflow:hidden;box-sizing:border-box;}
#sent_to_cpk{margin-bottom:1px;max-width:282px;overflow:hidden;box-sizing:border-box;}
#sent_to_packageR,#sent_to_packageL{margin-bottom:1px;max-width:230px;overflow:hidden;box-sizing:border-box;}

.v-form label{
    display:inline-block;
    vertical-align:top}
textarea:focus {
    border-color: #95C8F1;
    box-shadow: 0 0 4px #95C8F1;
}
.v-form2 label{
    display:inline-block;
    vertical-align:top;
    padding: 0 3px;
    text-align: right;
    width: 130px;
    box-sizing: border-box;
}


.video-editor,.audio-editor,.image-editor {
  background-color: #fff;
  overflow:auto;
  height:500px
}
.video-basic-inform,.audio-basic-inform,.image-basic-inform {
    padding: 20px 20px 20px 30px;
    min-width: 800px;
    position:relative;
    box-sizing: border-box;
    overflow:hidden;
}

.v-cover {
    width:240px;
    float:left;
    margin-right:-240px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.v-cover img {
    width: 240px;
    height: 180px;
}

.v-cover input {
    display: block;
    width: 90px;
    height: 30px;
    margin: 10px auto;
    background-color: #25a4eb;
    color: #fff;
    cursor: pointer;
}

.video-basic-inform i,.audio-basic-inform i,.image-basic-inform i {
    background-position: -264px -369px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 30px;
}

.v-form {

    line-height: 28px;
    font-size: 14px;
    color: #333;
    padding-bottom: 10px;
    width: 63%;
}
.v-form2{

    line-height: 28px;
    font-size: 14px;
    color: #333;
    padding-bottom: 10px;
}

.v-form .v-describe {
    display: block;
    margin-top: 7px;
    float: left;
}
.ve-form-down {
    line-height: 28px;
    font-size: 14px;
    color: #333;
    padding-bottom: 10px;
    width: 63%;
}
.ve-form-down label {
    padding: 0 3px;
    text-align: right;
    width: 130px;
    display: inline-block;
    box-sizing: border-box;
}

.v-form label{
    padding: 0 3px;
    text-align: right;
    width: 130px;
    display: inline-block;
    box-sizing: border-box;
}

.v-form2 textarea {
    border: 1px solid #ddd;
    padding: 5px;
   min-width: 380px;
    width: 68%;
    max-width: 494px;
    height: 65px;
    display: inline-block;
    box-sizing: border-box;
}

.v-form .v-describe {
    margin-top: 10px;

}

.more-inform {
    padding: 10px 30px;
    min-width: 800px;
    width: 95%;
    float: left;
    box-sizing: border-box;
}

.more-top {
    height: 38px;
    border-bottom: 1px solid #e7e7e7;
}

.more-top label{
    display:inline-block;
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

.add-form {
    background-position: -349px -635px;
    width: 20px;
    height: 14px;
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-top: 7px;
}

.more-top .rot-add-form {
    background-position: -385px -635px;
}

.more-top a {
    display: inline-block;
    width: 90px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #333;
    float: right;
    border: 1px solid #e8e8e8;
    padding-left: 10px;
    cursor: pointer;
}

.more-top a:hover {
    color: #25a3eb;
}

.more-main {
    padding: 20px;
    display: none;
}

.more-main .authorized-time {
    width: 100%;
}

.authorized-time .Wdate {
    width: 28%;
}

.authorized-time a {
    display: inline-block;
    width: 28px;
    text-align: center;
}

.more-extension {
    float: left;
    width: 50%;
    margin-top: 10px;
}

.more-extension label{
    padding: 0 3px;
    text-align: right;
    width: 90px;
    display: inline-block;
    box-sizing: border-box;
}

.more-extension input {
    width: 54%;
    height: 28px;
    min-width: 190px;
    max-width: 247px;
    box-sizing: border-box;

}

.more-extension-area {
    float: left;
    width: 91%;
    margin-top: 10px;
}

.more-extension-area label{
    padding: 0 3px;
    text-align: right;
    width: 90px;
    display:inline-block;
    float: left;
    box-sizing: border-box;

}
.more-extension .more-word{
    vertical-align: top;
    width: 110px;
    margin-left: -20px;
}

.more-extension-area textarea {
    border: 1px solid #ddd;
    padding: 5px;
    width: 85%;
    height: 65px;
    max-width: 838px;
    display: block;
    float: left;
    box-sizing: border-box;
}

.footer_btn{
  padding: 15px 26px;
  min-width: 800px;
  clear: both;
  border-top: 1px solid #cccccc;
  position:absolute;
  bottom: 0;
  width:100%;
  background:#fff;
  padding-right:10px;
  box-sizing:border-box;
}

.footer_btn button,.footer_btn input{
    margin-right:10px;
    float: right;
}
.v-title-wrap{float:left;width:100%;margin-bottom:-99999px;padding-bottom: 99999px;}
.v-title{margin-left:240px;}
.v-form>input{
    min-width:190px;
    box-sizing: border-box;
    width:59%;
    max-width:247px;
}


/*包*/
.package_basic_inform{overflow:hidden}
.package_information_inner{overflow:hidden;height:390px}
.package{display:none;}
.v-form select {
    border: 1px solid #ebebeb;
    padding: 0 5px;
    color: #888888;
    width: 52.5%;
}
.package_information{display:none;position:absolute;width:100%;box-sizing:border-box;}
/* 关键词 */
.add_keywords_wrap{min-width:521px}
.red{border:1px solid red}
.add_keywords_wrap label{vertical-align:top}
.add_keywords{height:27px;vertical-align:top;margin-left:130px}
.add_keyword_btn {
    background-position: -342px -628px;
    width: 27px !important;
    height: 26px;
    cursor: pointer;
    border: 1px solid #cccccc;
    padding: 0 3px;
    text-align: right;
    display: inline-block;
}
.add_keyword_btn:hover {
    background-position: -378px -628px;
    border-color: #25a3eb;
}

.add_keywords li {
    float: left;
    max-width: 77px;
    padding-right:8px;
    position:relative;
    margin-bottom:10px
}
.add_keywords li:last-of-type{width:30px;height:30px}
.keyword-input {
    vertical-align:top;
    box-sizing: border-box;
    letter-spacing:1px;
    font-size: 12px;
    color: #333;
    line-height: 27px;
    text-align: center;
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    min-width:36px;
    width:100%;
    max-width:77px;
    padding:0 2px;
}

.v-form .keyword-input:focus {
    background-color: #fff;
}

.add_keywords .remove-icon {
    /* display:none; */
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    top:-5px;
    right:4px;
    background-color: #68c2ff;
    border-radius: 50%;
}
.add_keywords .remove-icon:hover{background-color:red}

.add_keywords .remove-icon:after {
    content: '';
    border-top: 2px solid  #fff;
    width: 8px;
    display: inline-block;
    position: absolute;
    left:2px;
    top:5px
}

/**
* 包编辑
*/
.package_section{position:relative;overflow:hidden;}
.package_editor_nav_wrap{border:1px solid #e7e7e7;background-color:#f4f4f4}
.package_editor_nav{height:28px;padding:1px;border-right:1px solid #efefef;float:left;background-color:#fff}
.package_editor_nav li{width:15px;height:21px;background-color:#f4f4f4;float:left;padding:7px 0px 0 15px;}
.package_editor_nav li:last-child{padding-right:15px}
.package_add_btn,.package_del_btn{display:inline-block;width:16px;height:16px;}
.package_del_btn{background-position:-232px -584px}
.package_del_btn:hover{background-position:-211px -584px}
.package_checkall_wrap{margin-left:77px;background:#fff;padding:1px;height:28px}
.package_checkall_wrap li{background:#f4f4f4;padding:9px 0px 0 15px;height:19px}
.package_checkall_wrap li input{}
.package_checkall_wrap li span{vertical-align:top;display:inline-block;margin-top:-2px;font-size:'宋体'}
.package_c{padding:20px 0px 20px 30px;overflow:hidden;box-sizing:border-box;position:relative;}
.section_now{width:27%;overflow:auto}
.package_c_ul li{float:left;margin-right:14px;}
.package_c_ul li img{width:80px;height:60px;border:3px solid transparent;cursor:pointer;}
.package_c_ul li.package_cur img{width:80px;height:60px;border:3px solid #69c2ff;border-radius:5px}
.package_c_ul li p{text-align:center;width:86px;overflow:hidden;line-height:28px;height:28px;font-family:'宋体';color:#999}
.slider_btn_wrap{padding:1px;border:1px solid #e7e7e7}
.slider_btn_inner{height:40px;position:relative;background-color:#f4f4f4;text-align:center;}
.slider_btn{display:inline-block;position:relative;width:25px;height:40px}
.slider_btn:before{content:'';position:absolute;left:5px;top:10px;border-style:solid;border-width:1px;border-color:#a9a9a9 transparent transparent #a9a9a9  ;transform:rotate(45deg);-webkit-transform:rotate(45deg);width:15px;height:15px;}
.slider_btn:after{content:'';position:absolute;left:5px;top:23px;border-style:solid;border-width:1px;border-color:#a9a9a9 transparent transparent #a9a9a9  ;transform:rotate(45deg);-webkit-transform:rotate(45deg);width:15px;height:15px;}
.slider_btn:hover:before,.slider_btn:hover:after{border-color:#69c2ff transparent transparent #69c2ff;}

.slider_btn.slider_up:before{left:5px;top:0px;border-color:transparent #a9a9a9  #a9a9a9 transparent}
.slider_btn.slider_up:after{left:5px;top:13px;border-style:solid;border-color:transparent #a9a9a9  #a9a9a9 transparent;}

.slider_btn.slider_up:hover:before,.slider_btn.slider_up:hover:after{border-color:transparent  #69c2ff #69c2ff transparent}
.package_select_wrap{width:73%;border:1px solid #e7e7e7;background-color:#fff;height:500px;position:absolute;top:0;right:-50%;z-index:999;display:none;box-sizing:border-box;height:100%}
.package_select_head{border-bottom:1px solid #e7e7e7;padding:10px 0 10px 10px;height:30px}


/* 包ztree */
.package_ztree-box{width:160px;float:left;margin-right:-100%;border-right:1px solid #e7e7e7}
.package_ztree{padding:0;overflow:auto;margin-bottom:1px;background:#fff}
.package_ztree li ul{ margin:0; padding:0}
.package_ztree li {line-height:30px;}
.package_ztree li a {width:160px;height:30px;padding-top:0px}
.package_ztree li.level0 a.level0:hover{text-decoration:none;cursor:auto}
.package_ztree li.level0 li a:hover {text-decoration:none; background-color:#E7E7E7;}
.package_ztree li a span.button.switch {visibility:visible}
.package_ztree li a.curSelectedNode {background-color:#D4D4D4;border:0;height:30px;}
.package_ztree li span {line-height:30px;}
.package_ztree li span.button {margin-top: -7px;}
.package_ztree li span.button.switch {width: 16px;height: 16px;}
.package_ztree li span.button {background-image:url("../images/left_menuForOutLook.png");}
.package_ztree li.level0{background:none;height:40px;line-height:40px;border-top:1px solid #e7e7e7;background-color:#f4f4f4;margin-bottom:1px;font-size:15px;font-weight:bold;text-align:15px;font-family:'宋体'}
.package_ztree li.level0 li{font-weight:normal;}
.package_ztree li span.button.switch.level0 {background:none;}
.package_ztree li span.button.switch.level1 {width: 20px; height:20px;font-weight:normal}
.package_ztree li span.button.noline_open {background-position: 0 0;}
.package_ztree li span.button.noline_close {background-position: -18px 0;}

.package_select_c{width:100%;}
.package_select_c_inner{margin-left:160px;overflow:auto}
.package_select_c_inner ul li{float:left;}



/* border图标(+) */
.b_add_icon{position:relative;display:inline-block;}
.b_add_icon:after{position:absolute;content:'';border-left:2px solid #777;top:0;left:6px;height:14px;width:14px}
.b_add_icon:before{position:absolute;content:'';border-top:2px solid #777;top:6px;left:0;height:14px;width:14px}
.b_add_icon:hover:before{border-color:#25a5eb}
.b_add_icon:hover:after{border-color:#25a5eb}



/*文稿*/
.edit-wrapper{
    min-width: 800px;
    border:1px solid transparent;
}
.edit-content{
    margin: 20px 20px 0 20px;
    max-width:850px;
    min-width:800px

}
.edit-content-top{
    margin-bottom: 15px;
    height:112px
}
.edit-row {
    margin-bottom: 14px;
    float: left;
    width: 100%;
    margin-right: 100px;
}
.edit-row .add_keywords{margin-left:0}
.edit-input{
    float: left;
    width: 34%;
    min-width: 260px;
    max-width:390px;
}
.left-margin{
    margin-left: 105px;
}
.edit-row label ,.edit-input label{
    width: 60px;
    display: inline-block;
    vertical-align: top;
    line-height: 28px;
    text-align: right;
    margin-right:10px

}
.edit-input input{
    box-sizing:border-box;
    width: 73%;
}
#editor{margin-left:70px}
/*文稿结束*/

/* 主内容区的区块全部隐藏 */
.vms-box-section{display:none}

.scrollparent{position:relative;}

/* 公共尾部 */
.con-footer{height:25px;background:#f3f3f3;text-align:right;padding-right:20px;line-height:25px;z-index:99}



.cpk-name-name{position:relative;line-height: 15px;
height: 15px;
padding: 9px 10px;
overflow: hidden;
word-wrap: normal;
text-overflow: ellipsis;color: #666;
margin-left: 45px;}
.cpk-file-name{position:relative}
.cpk-name-conter{position:absolute;right:0;top:0px;z-index:2;background-color:#ddd}
.ztree-box #cpktree li a{max-width:118px;overflow:hidden;word-wrap:normal;text-overflow:ellipsis;width:auto}



